@font-face {
    font-family: "Old Stadard TT";
    src: url('../fonts/Old Standard - Bold.ttf') format(truetype);
    font-style: bold;
    font-weight: 700;
}
@font-face {
    font-family: "Old Stadard TT";
    src: url('../fonts/Old Standard - Regular.ttf') format(truetype);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Old Stadard TT";
    src: url('../fonts/Old Standard - Italic.ttf') format(truetype);
    font-style: italic;
    font-weight: 700;
}