* {
    box-sizing: border-box;
}
body { 
    width: 1440px;
    margin: 0 auto;
    display: block;
    background-color: black;
}
.section-1 div {
    position: relative;
    width: 1440px;
    margin: 0 auto;
}
.section-1 img {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
.section-1 .naming,
.section-1 .author {
    position: absolute;
    color:black

}
.section-1 .naming {
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 150px;
    white-space: nowrap;
}

.section-1 .author {
    top: 530px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 45px;
}
.section-2 {
    width: 100%;
    padding-top: 74px;
}
.section-2 div {
    display: flex;
    justify-content: center;
    gap: 55px;
    width: 1440px;
    margin: 0 auto;
}
.section-2 .img-1,
.section-2 .img-2
.section-2 .img-3
 {
    width: 412px;
    height: 797px;
    object-fit: cover;
    display: block;
}
.section-3 {
    width: 100%;
    padding-top: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.section-3 .container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
    gap: 37px;
}
.section-3 .container-1 .Header-1 {
    font-family: "Old Standatd TT" , serif;
    margin: 0;
    font-size: 100px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    text-transform: uppercase;
    color: aliceblue;
    letter-spacing: 5px;
    display: inline-block;
    transform: scaleY(1.35);
}
.section-3 .container-1 img {
    height: 4px;
    width: 334px;
    object-fit: cover;
}
.container-2_3 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
}
.container-2 {
    flex: 1;
    margin-left: 85px;
    margin-top: 120px;
}
.text-1 {
    font-size: 51px;
    font-weight: 400;
    line-height: 1.1;
    color: aliceblue;
    transform: scaleY(1.1)
}
.container-3 {
    flex: 0 0 auto;
    text-align: right;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}
.container-3 .text-2 {
    position: relative;
    top: -1000px;
    font-size: 900px;
    font-weight: 400;
    color: aliceblue;
    transform: scaleY(1.3)
}